basicConstraints       = critical, CA:FALSE
keyUsage               = critical, digitalSignature, keyAgreement
extendedKeyUsage       = serverAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = DNS:localhost, IP:127.0.0.1
